:root {
  --spacing-default: 1.5rem;
  --spacing-large: calc(var(--spacing-default) * 2);
  --spacing-small: 1rem;

  --shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);

  --ease: cubic-bezier(0, 0, 0.58, 1);
  --speed-fast: 0.15s;
  --speed-normal: 0.5s;
  --speed-slow: 0.75s;

  --border-radius: 4px;

  --site-nav-width-collapsed: 3rem;

  --icon-size: 30px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  box-sizing: border-box;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
