{
  "env": {
    "test": {
      "plugins": [
        "dynamic-import-node",
        "require-context-hook"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
